
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&family=Roboto:wght@300;400;700;900&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.nav-container{
    width: 1440px;
    height: 100%;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1%;
    
}
.search-icon{
    width: 2opx;
    height: 20px;
}
.nav-manubar{
    display:flex ;
    justify-content: space-between;
    align-items: center;

}
h4{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.home{
    display: flex;
    justify-content: space-between;
    gap: 25px;    
    list-style: none;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.search-icon{
    margin: 20px;
}

/*banner section*/

.bannar-container{
    width: 1440px;
    height: 100%;
   
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2%;
    margin-top: 1%;
    
}
.background-img{
    position: absolute;
    left: 65%;
}

h1{ 
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 134.615% */
}

.pra{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}

.praymari-btn{
   padding: 2%;
   align-items: center;
   background-color: rgb(160, 48, 160) ;
   border-radius: 10px;
    }



.arrow-icon{
    width: 20px;
    ;
}
/*midea*/

.midea{
    width: 1440px;
    height: 100%;
   
    margin: 0 auto;
   display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 2%;
}
/*card section*/
.card-container{
    width: 1440px;
    height: 100%;
    
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
  justify-content: center;
  align-items: center;
    margin: 0 auto;
    
   /* grid-template-columns: repeat(3 1fr);*/

}
h4{
    text-align: center
    ;
}

.card1{
    width: 336px;
    height: 476px;
    border: 1px solid blue;
   text-align: center;
    padding-top: 2%;
    margin-bottom: 20px;
    border-radius: 2%;
    box-shadow: 5px 5px 5px;
    margin-top: 2%;
  
}
.title{
    text-align: center;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px; /* 250% */
}

h4{
    text-align: left;
    margin-left: 5%;
}
p{
    text-align: left;
    margin-left: 5%;
    font-size: 14px;
}
.card1:hover{
   background-color: cyan;
}

/*about*/

.about-container{
    width: 1440px;
    height: 100%;
   
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2%;
    margin-top: 1%;
}


